# Analysis of Kenya Energy Statistics

## Importing Libraries to be used

In [10]:
import pandas as pd
import numpy as np

## Loading and reading the dataset

In [11]:
data = '/home/kuria/Documents/african-regional-energy-statistics-2014-xlsx-1.xls'
df1 = pd.read_excel(data)
df1.head()

,Indicator,IndicatorName,Region,RegionName,Unit,Date,Value
0,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2006,11.0
1,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2007,6.0
2,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2008,15.0
3,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2009,25.0
4,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2010,50.0

## Previewing and Inspecting the dataset

In [12]:
df1['IndicatorName'].unique()

array(['Final Consumption of coking coal, 1000 tonnes',
       'Consumption of coking coal in industry , 1000 tonnes',
       'Net imports of coking coal, 1000 tonnes',
       'Production of charcoal, 1000 tonnes',
       'Final consumption of Charcoal ( 1000 tonnes )',
       'Production of Coal (1000 tonnes)',
       'Production of crude oil, NLG and additives, 1000 tonnes',
       'Refinery output of oil products, 1000 tonnes',
       'Final consumption of oil, 1000 tonnes',
       'Consumption of oil in industry, 1000 tonnes',
       'Consommation de p√©trole dans les transports, 1000 tonnes',
       'Net imports of crude oil, NGL, refinery feedstocks and additives, 1000 tonnes',
       'Net imports of oil products, 1000 tonnes',
       'Production of natural gas, Tj',
       'Final consumption of natural gas, Tj',
       'Consumption of natural gas in industry, Tj',
       'Net imports of natural gas, Tj',
       'Production of electricity from biofuels and waste, GWh',
       'Production of electricity from fossil fuels, GWh',
       'Production of nuclear electricity, GWh',
       'Production of hydro electricity, GWh',
       'Production of geothermal electricity, GWh',
       'Production of electricity from solar, wind, tide, wave and other sources, GWh',
       'Total production of electricity, GWh',
       'Final consumption of electricity, GWh',
       'Consumption of electricity in industry, GWh',
       'Consumption of electricity in transport, GWh',
       'Net imports of electricity, GWh',
       'Production of electricity from renewable sources (GWh)',
       'Consumption of oil in Households  ( 1000 tonnes )',
       'Consumption of oil in others ( 1000 tonnes )',
       'Consumption of electricity in Households ( GWh )',
       'Consumption of electricity in Service Public ( GWh )',
       'Consumption of electricity in others ( GWh )',
       'Production of Firewood (1000 tonnes)'], dtype=object)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 7 columns):
Indicator        17018 non-null int64
IndicatorName    17018 non-null object
Region           17018 non-null int64
RegionName       17018 non-null object
Unit             17018 non-null object
Date             17018 non-null int64
Value            17018 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 930.8+ KB

In [17]:
df1.shape

(17018, 7)

In [23]:
df['RegionName'].unique()

array(['Ethiopia', 'Kenya', 'Tanzania', 'Algeria', 'Egypt', 'Morocco',
       'Tunisia', 'Botswana', 'Madagascar', 'Malawi', 'Mauritius',
       'Mozambique', 'Namibia', 'South Africa', 'Swaziland', 'Zambia',
       'Zimbabwe', 'Niger', 'Nigeria', 'Senegal', 'Africa', 'Togo',
       'Angola', 'Cameroon', 'Central African Republic', 'Chad',
       'Congo, Rep.', 'Congo, Dem. Rep.', 'Equatorial Guinea', 'Rwanda',
       'Djibouti', 'Eritrea', 'Somalia', 'Uganda', 'Libya', 'Lesotho',
       'Benin', 'Burkina Faso', 'Cape Verde', "Cote d'Ivoire", 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali', 'Sudan', 'Gabon',
       'South Sudan', 'Mauritania', 'Burundi', 'Sao Tome and Principe',
       'Comoros', 'Seychelles', 'Gambia', 'Sierra Leone', 'East Africa',
       'West Africa', 'North Africa', 'Southern Africa', 'Central Africa',
       'Saharawi Republic'], dtype=object)

In [20]:
df1.tail()

,Indicator,IndicatorName,Region,RegionName,Unit,Date,Value
17013,21773673,Production of Firewood (1000 tonnes),1,Africa,thousand tonnes,2010,666808.970223
17014,21773673,Production of Firewood (1000 tonnes),1,Africa,thousand tonnes,2011,742603.228616
17015,21773673,Production of Firewood (1000 tonnes),1,Africa,thousand tonnes,2012,803040.046773
17016,21773673,Production of Firewood (1000 tonnes),1,Africa,thousand tonnes,2013,953799.009468
17017,21773673,Production of Firewood (1000 tonnes),1,Africa,thousand tonnes,2014,975947.401262

In [22]:
#making a copy of the original dataset that we will use in the analysis.
df = df1.copy()
df.head()

,Indicator,IndicatorName,Region,RegionName,Unit,Date,Value
0,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2006,11.0
1,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2007,6.0
2,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2008,15.0
3,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2009,25.0
4,102,"Final Consumption of coking coal, 1000 tonnes",10203,Ethiopia,thousand tonnes,2010,50.0

## Data cleaning

### Completeness

In [24]:
#Counting missing values using pandas

df.isnull().sum()

Indicator        0
IndicatorName    0
Region           0
RegionName       0
Unit             0
Date             0
Value            0
dtype: int64

In [25]:
#Counting missing values using numpy
np.count_nonzero(df.isnull())

0

### Validity

In [26]:
#dropping the Region column as we will not be using it.
df.drop(columns = ['Region'], inplace=True)
df.head()

,Indicator,IndicatorName,RegionName,Unit,Date,Value
0,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2006,11.0
1,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2007,6.0
2,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2008,15.0
3,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2009,25.0
4,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2010,50.0

### Accuracy

### Consistency

In [27]:
# Checking for duplicates
df.duplicated().sum()

0

In [ ]:
## No duplicates in the dataset

### Uniformity

In [28]:
# converting column names to lowercase
df.columns = df.columns.str.lower()
df.head()

,indicator,indicatorname,regionname,unit,date,value
0,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2006,11.0
1,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2007,6.0
2,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2008,15.0
3,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2009,25.0
4,102,"Final Consumption of coking coal, 1000 tonnes",Ethiopia,thousand tonnes,2010,50.0

## Exporting the cleaned dataset to csv

## Data Analysis

In [29]:
#Selecting Kenya and East Africa rows only
df2 = df[(df['regionname'] == 'Kenya') | (df['regionname'] == 'East Africa')]
df2.head()

,indicator,indicatorname,regionname,unit,date,value
6,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2000,66.0
7,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2001,66.0
8,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2002,99.0
9,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2003,92.0
10,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2004,108.0

In [52]:
df2.shape

(776, 6)

In [53]:
df2

,indicator,indicatorname,regionname,unit,date,value
6,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2000,66.000000
7,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2001,66.000000
8,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2002,99.000000
9,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2003,92.000000
10,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2004,108.000000
11,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2005,108.000000
12,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2007,110.000000
13,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2008,109.000000
14,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2009,154.000000
15,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2010,268.000000
16,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2011,383.000000
229,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2000,66.000000
230,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2001,66.000000
231,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2002,99.000000
232,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2003,92.000000
233,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2004,108.000000
234,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2005,108.000000
235,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2006,108.000000
236,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2007,110.000000
237,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2008,109.000000
238,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2009,154.000000
239,103,"Consumption of coking coal in industry , 1000 ...",Kenya,thousand tonnes,2010,268.000000
363,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2000,66.000000
364,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2001,66.000000
365,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2002,98.999996
366,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2003,92.000000
367,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2004,108.000000
368,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2005,108.000000
369,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2006,119.999997
370,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2007,110.000000
...,...,...,...,...,...,...
16016,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2000,151.000000
16027,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2001,190.000000
16030,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2003,203.000000
16033,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2002,213.000000
16072,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2004,314.000000
16078,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2005,331.000000
16082,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2007,337.000000
16094,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2006,358.000000
16104,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2009,413.000000
16107,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2008,421.000000
16119,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2010,548.000000
16126,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2011,622.000000
16141,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2012,755.900000
16142,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2014,775.784190
16143,21773573,Consumption of electricity in others ( GWh ),East Africa,GWh,2013,776.669169
16956,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2000,98206.932786
16957,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2001,100347.257929
16958,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2002,101908.142643
16959,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2003,104131.648571
16960,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2004,109152.367214
16962,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2005,113264.875929
16964,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2006,117314.827214
16965,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2007,119572.529571
16966,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2008,122741.373214
16967,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2009,125226.638786
16968,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2010,127928.064286
16969,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2011,133583.548714
16970,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2012,135785.551000
16972,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2013,137608.768016
16973,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2014,139288.348282

In [60]:
#resetting the index column
df2.reset_index(drop=True, inplace=True)
df2.head()

,indicator,indicatorname,regionname,unit,date,value
0,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2000,66.0
1,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2001,66.0
2,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2002,99.0
3,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2003,92.0
4,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2004,108.0

## df2

In [63]:
df2['date'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2007, 2008, 2009, 2010, 2011,
       2006, 2012, 2013, 2014])

In [62]:
#
import pandas_profiling
pandas_profiling.ProfileReport(df2)

## Comparative Analysis Electricity between Kenya and E.A between 2000 and 2014

In [64]:
df2['indicatorname'].unique()

array(['Final Consumption of coking coal, 1000 tonnes',
       'Consumption of coking coal in industry , 1000 tonnes',
       'Net imports of coking coal, 1000 tonnes',
       'Production of charcoal, 1000 tonnes',
       'Final consumption of Charcoal ( 1000 tonnes )',
       'Refinery output of oil products, 1000 tonnes',
       'Final consumption of oil, 1000 tonnes',
       'Consumption of oil in industry, 1000 tonnes',
       'Consommation de p√©trole dans les transports, 1000 tonnes',
       'Net imports of crude oil, NGL, refinery feedstocks and additives, 1000 tonnes',
       'Net imports of oil products, 1000 tonnes',
       'Production of electricity from biofuels and waste, GWh',
       'Production of electricity from fossil fuels, GWh',
       'Production of hydro electricity, GWh',
       'Production of geothermal electricity, GWh',
       'Production of electricity from solar, wind, tide, wave and other sources, GWh',
       'Total production of electricity, GWh',
       'Final consumption of electricity, GWh',
       'Consumption of electricity in industry, GWh',
       'Net imports of electricity, GWh',
       'Production of crude oil, NLG and additives, 1000 tonnes',
       'Production of natural gas, Tj',
       'Final consumption of natural gas, Tj',
       'Consumption of natural gas in industry, Tj',
       'Production of electricity from renewable sources (GWh)',
       'Production of Coal (1000 tonnes)',
       'Consumption of oil in Households  ( 1000 tonnes )',
       'Consumption of oil in others ( 1000 tonnes )',
       'Consumption of electricity in Households ( GWh )',
       'Consumption of electricity in Service Public ( GWh )',
       'Consumption of electricity in others ( GWh )',
       'Production of Firewood (1000 tonnes)'], dtype=object)

## Analysis

### Year of highest production of electricity from renewable sources

In [77]:
#Determine the year in which the production of electricity from renewable sources was the highest in Kenya between 2000 and 2014?

kenre = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]

kenre.groupby('date')[['value']].max().sort_values('value', ascending=False).head()

            value
date
2014  5941.880030
2013  5583.700028
2011  5306.000000
2012  5265.368820
2010  5180.000000

In [ ]:
## 2014 had the highest production capoacity of renewable sources with 5941.880030 GWh

### Most used source of electricity in 2014

In [ ]:
#Which source of electricity was used the most in 2014?

In [79]:
# Geothermal production in 2014
kenge = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of geothermal electricity, GWh')]

kenge.groupby('date')[['value']].max().sort_values('value', ascending=False).head()

            value
date
2014  3046.000000
2013  2820.075264
2012  2611.180800
2011  1518.000000
2010  1453.000000

In [ ]:
##

In [83]:
# production from fossil fuek
kenfos = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]

kenfos.groupby('date')[['value']].max().sort_values('value', ascending=False).head()

           value
date
2014  3541.00000
2013  3405.24887
2012  3274.27776
2009  3029.00000
2011  2569.00000

In [88]:
kendro = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of hydro electricity, GWh')]

kendro.groupby('date')[['value']].max().sort_values('date', ascending=False).head()

            value
date
2014  2598.000000
2013  2498.224735
2012  2402.139168
2011  3451.000000
2010  3393.000000

In [90]:
kenbio = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of electricity from biofuels and waste, GWh')]

kenbio.groupby('date')[['value']].max().sort_values('date', ascending=False).head()

           value
date
2014  231.000000
2013  223.880030
2012  217.359252
2011  316.000000
2010  316.000000

In [91]:
kensol = df2[(df2['regionname'] == 'Kenya') & (df2['indicatorname'] == 'Production of electricity from solar, wind, tide, wave and other sources, GWh')]

kensol.groupby('date')[['value']].max().sort_values('value', ascending=False).head()

        value
date
2014  74.0000
2013  41.5200
2012  34.6896
2011  21.0000
2010  18.0000

In [ ]:
#Which source of electricity was used the most in 2014

## Fossil fuels was the most used source of electricity in 2014

### Percantage between the production of electricty from fossil fuels and renewable sources

In [125]:
# Find the percantage between production of electricity from fossil fuels and production of electricity from renewable sources in year 2013?
fos10 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2010) & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]
fos10.value.values


ren10 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2010) & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]
ren10.value.values

fos10.value.values / ren10.value.values
total10 = fos10.value.values + ren10.value.values
#percentage of fossil fuels
print((fos10.value.values / total10) * 100)
#percentage of green energy
print((ren10.value.values / total10) * 100)

[30.62809696]
[69.37190304]

In [127]:
# Find the percantage between production of electricity from fossil fuels and production of electricity from renewable sources in year 2013?
fos11 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2011) & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]
fos11.value.values


ren11 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2011) & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]
ren11.value.values

fos11.value.values / ren11.value.values
total11 = fos11.value.values + ren11.value.values
#percentage of fossil fuels
print((fos11.value.values / total) * 100)
#percentage of green energy
print((ren11.value.values / total) * 100)

[28.57953726]
[59.02803609]

In [129]:
# Find the percantage between production of electricity from fossil fuels and production of electricity from renewable sources in year 2013?
fos12 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2012) & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]
fos12.value.values


ren12 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2012) & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]
ren12.value.values

fos12.value.values / ren12.value.values
total12 = fos12.value.values + ren12.value.values
#percentage of fossil fuels
print((fos12.value.values / total) * 100)
#percentage of green energy
print((ren12.value.values / total) * 100)

[36.42559099]
[58.57602351]

In [131]:
# Find the percantage between production of electricity from fossil fuels and production of electricity from renewable sources in year 2013?
fos13 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2013) & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]
fos13.value.values


ren13 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2013) & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]
ren13.value.values

fos13.value.values / ren13.value.values
total13 = fos13.value.values + ren13.value.values
#percentage of fossil fuels
print((fos13.value.values / total13) * 100)
#percentage of green energy
print((ren13.value.values / total13) * 100)

[37.88261463]
[62.11738537]

In [132]:
# Find the percantage between production of electricity from fossil fuels and production of electricity from renewable sources in year 2013?
fos14 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2014) & (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]
fos14.value.values


ren14 = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2014) & (df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)')]
ren14.value.values

fos14.value.values / ren14.value.values
total14 = fos14.value.values + ren14.value.values
#percentage of fossil fuels
print((fos14.value.values / total14) * 100)
#percentage of green energy
print((ren14.value.values / total14) * 100)

[37.34097646]
[62.65902354]

In [124]:
#what percentage of electricity produced from biofuels and waste in East Africa was from Kenya in year 2014?

bio = df2[(df2['regionname'] == 'Kenya') & (df2['date'] == 2014) & (df2['indicatorname'] == 'Production of electricity from biofuels and waste, GWh')]
x=bio.value.values

ea = df2[(df2['regionname'] == 'East Africa') & (df2['date'] == 2014) & (df2['indicatorname'] == 'Production of electricity from biofuels and waste, GWh')]
y=ea.value.values
print((x/y)*100)

[23.78990731]

In [148]:
import seaborn as sns 

yrlst = [2010, 2011, 2013, 2014]

df4 = df2[(df2['indicatorname'] == 'Production of electricity from renewable sources (GWh)') | (df2['indicatorname'] == 'Production of electricity from fossil fuels, GWh')]

dat = df4[(df4['date'].isin(yrlst)) & (df4['regionname'] == 'Kenya')]

dat.head()

bptken = sns.boxplot(y='value', x='date', data=dat, width=0.8, palette='colorblind')


bptken = sns.stripplot(y='value', x='date', data=dat, jitter=True, marker='*', alpha=0.7, color="black")

bptken.axes.set_title('Production capacity vs date')

Text(0.5, 1.0, 'Production capacity vs date')

In [145]:
df3

,indicator,indicatorname,regionname,unit,date,value
0,21773673,Production of Firewood (1000 tonnes),East Africa,thousand tonnes,2014,139288.348282
1,201,"Production of charcoal, 1000 tonnes",East Africa,thousand tonnes,2014,16539.742597
2,506,"Production of electricity from solar, wind, ti...",Kenya,GWh,2014,74.000000
3,506,"Production of electricity from solar, wind, ti...",East Africa,GWh,2014,624.880000
4,303,"Final consumption of oil, 1000 tonnes",Kenya,thousand tonnes,2014,2558.723940
5,507,"Total production of electricity, GWh",Kenya,GWh,2014,9490.000000
6,302,"Refinery output of oil products, 1000 tonnes",East Africa,thousand tonnes,2014,4743.846168
7,302,"Refinery output of oil products, 1000 tonnes",Kenya,thousand tonnes,2014,956.357066
8,507,"Total production of electricity, GWh",East Africa,GWh,2014,44567.880000
9,508,"Final consumption of electricity, GWh",Kenya,GWh,2014,8579.163823
10,304,"Consumption of oil in industry, 1000 tonnes",Kenya,thousand tonnes,2014,808.279585
11,201,"Production of charcoal, 1000 tonnes",Kenya,thousand tonnes,2014,3572.259090
12,508,"Final consumption of electricity, GWh",East Africa,GWh,2014,37405.280262
13,104,"Net imports of coking coal, 1000 tonnes",East Africa,thousand tonnes,2014,686.536489
14,509,"Consumption of electricity in industry, GWh",Kenya,GWh,2014,3591.385295
15,104,"Net imports of coking coal, 1000 tonnes",Kenya,thousand tonnes,2014,347.065969
16,509,"Consumption of electricity in industry, GWh",East Africa,GWh,2014,8928.990806
17,103,"Consumption of coking coal in industry , 1000 ...",East Africa,thousand tonnes,2014,814.452896
18,303,"Final consumption of oil, 1000 tonnes",East Africa,thousand tonnes,2014,14916.637719
19,505,"Production of geothermal electricity, GWh",East Africa,GWh,2014,3291.000000
20,511,"Net imports of electricity, GWh",East Africa,GWh,2014,-421.890512
21,307,"Net imports of oil products, 1000 tonnes",Kenya,thousand tonnes,2014,3189.670150
22,403,"Consumption of natural gas in industry, Tj",East Africa,terajoules (TJ),2014,6312.230026
23,402,"Final consumption of natural gas, Tj",East Africa,terajoules (TJ),2014,5616.485681
24,501,Production of electricity from biofuels and wa...,Kenya,GWh,2014,231.000000
25,401,"Production of natural gas, Tj",East Africa,terajoules (TJ),2014,34205.934910
26,501,Production of electricity from biofuels and wa...,East Africa,GWh,2014,971.000000
27,307,"Net imports of oil products, 1000 tonnes",East Africa,thousand tonnes,2014,13342.057700
28,502,"Production of electricity from fossil fuels, GWh",Kenya,GWh,2014,3541.000000
29,502,"Production of electricity from fossil fuels, GWh",East Africa,GWh,2014,14161.000000
...,...,...,...,...,...,...
235,501,Production of electricity from biofuels and wa...,East Africa,GWh,2010,926.000000
236,401,"Production of natural gas, Tj",East Africa,terajoules (TJ),2010,29944.000000
237,502,"Production of electricity from fossil fuels, GWh",East Africa,GWh,2010,7912.000000
238,307,"Net imports of oil products, 1000 tonnes",East Africa,thousand tonnes,2010,7885.196500
239,306,"Net imports of crude oil, NGL, refinery feedst...",East Africa,thousand tonnes,2010,-5752.800000
240,504,"Production of hydro electricity, GWh",East Africa,GWh,2010,18510.000000
241,305,"Consommation de p√©trole dans les transports, 1...",East Africa,thousand tonnes,2010,6811.000000
242,505,"Production of geothermal electricity, GWh",East Africa,GWh,2010,1471.000000
243,304,"Consumption of oil in industry, 1000 tonnes",East Africa,thousand tonnes,2010,2856.000000
244,506,"Production of electricity from solar, wind, ti...",East Africa,GWh,2010,20.000000
245,303,"Final consumption of oil, 1000 tonnes",East Africa,thousand tonnes,2010,11832.454000
246,302,"Refinery output of oil products, 1000 tonnes",East Africa,thousand tonnes,2010,6479.960000
247,507,"Total production of electricity, GWh",East Africa,GWh,2010,28839.000000
248,508,"Final consumption of electricity, GWh",East Africa,GWh,2010,21269.000000
249,505,"Production of geothermal electricity, GWh",Kenya,GWh,2010,1453.000000
250,201,"Production of charcoal, 1000 tonnes",East Africa,thousand tonnes,2010,13340.253000
251,509,"Consumption of electricity in industry, GWh",East Africa,GWh,2010,7096.000000
252,403,"Consumption of natural gas in industry, Tj",East Africa,terajoules (TJ),2010,4644.000000
253,103,"Consumption of coking coal in industry , 1000 ...",East Africa,thousand tonnes,2010,318.000000
254,511,"Net imports of electricity, GWh",East Africa,GWh,2010,22.000000
255,102,"Final Consumption of coking coal, 1000 tonnes",East Africa,thousand tonnes,2010,318.000000
256,511,"Net imports of electricity, GWh",Kenya,GWh,2010,11.000000
257,21757173,Final consumption of Charcoal ( 1000 tonnes ),East Africa,thousand tonnes,2010,12871.000000
258,509,"Consumption of electricity in industry, GWh",Kenya,GWh,2010,3630.000000
259,508,"Final consumption of electricity, GWh",Kenya,GWh,2010,6331.000000
260,21772773,Production of electricity from renewable sourc...,Kenya,GWh,2010,5180.000000
261,507,"Total production of electricity, GWh",Kenya,GWh,2010,7467.000000
262,506,"Production of electricity from solar, wind, ti...",Kenya,GWh,2010,18.000000
263,21772773,Production of electricity from renewable sourc...,East Africa,GWh,2010,20927.000000
264,102,"Final Consumption of coking coal, 1000 tonnes",Kenya,thousand tonnes,2010,268.000000

###